@charset "UTF-8";
@font-face {
  font-family: "Ubuntu-Light";
  src: url("/fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Ubuntu-Medium";
  src: url("/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Ubuntu-B";
  src: url("/fonts/Ubuntu/Ubuntu-B.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Ubuntu-Regular";
  src: url("/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Gagalin-Regular";
  src: url("/fonts/Gagalin/Gagalin-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lifehack Medium";
  src: url("/fonts/Lifehack Medium.otf") format("truetype");
  font-style: normal;
  font-weight: normal; }
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 16px; }

html, body {
  height: 100%; }
  @media screen and (max-width: 768px) {
    html, body {
      font-size: 0.9rem; } }
  @media screen and (max-width: 480px) {
    html, body {
      font-size: 0.875rem; } }

body {
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #000000; }

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 58.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

.section {
  height: 100vh;
  min-height: 40.625rem; }
  @media screen and (max-width: 480px) {
    .section {
      min-height: 40.625rem; } }

input[type="button"] {
  border: none;
  cursor: pointer; }

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
  background-color: transparent; }

button {
  border: none; }

.fixed-nav-navigation {
  position: fixed;
  right: 0;
  bottom: 30%;
  padding: 0 0.6rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

li.fixed-nav-item:before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  margin: 0.9rem; }

.main {
  background: url(/images/background/background.jpg) center center no-repeat;
  background-size: cover; }

.container__main {
  justify-content: flex-start; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem; }

.logo_svg {
  width: 7rem;
  height: 5rem; }

.header-menu {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .header-menu {
      display: none; } }

.nav {
  margin-right: 1rem; }

.nav-list {
  display: flex;
  align-items: center; }

.nav-item {
  display: flex;
  align-items: center; }
  .nav-item:first-child:before {
    display: none; }
  .nav-item:before {
    content: "";
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: #fff;
    display: block;
    margin: 0 0.6rem; }

.nav-link {
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
  font-family: Ubuntu-Medium;
  text-transform: uppercase; }

.btn {
  padding: 0.8rem 1rem;
  color: #fff;
  background-color: #e35028;
  border-radius: 0.43rem;
  text-decoration: none;
  font-family: Ubuntu-Medium;
  text-transform: uppercase;
  cursor: pointer; }

.header-button {
  display: flex;
  align-items: center; }

.mobile-menu {
  vertical-align: middle;
  position: relative;
  height: 22px;
  align-items: center;
  margin-left: 30px;
  display: none; }
  @media screen and (max-width: 768px) {
    .mobile-menu {
      display: flex; } }

.mobile-menu__bar, .mobile-menu__bar:before, .mobile-menu__bar:after {
  background: #fff;
  width: 24px;
  height: 5px;
  border-radius: 3px; }
.mobile-menu__bar:before, .mobile-menu__bar:after {
  content: "";
  display: block;
  position: absolute; }
.mobile-menu__bar:before {
  top: 0; }
.mobile-menu__bar:after {
  bottom: 0; }

.caption {
  font-size: 4.5rem;
  color: #000;
  margin-bottom: 1.25rem;
  font-family: Gagalin-Regular; }
  .caption--color_yellow {
    color: #f9a644; }
  .caption--color_white {
    color: white;
    line-height: 1; }
    @media screen and (max-width: 480px) {
      .caption--color_white {
        text-align: center;
        font-size: 3.2rem; } }
    @media screen and (max-width: 400px) {
      .caption--color_white {
        font-size: 2.2rem; } }
  .caption--color_red {
    color: #e35028;
    font-size: 5rem; }
  .caption--align_center {
    text-align: center; }
    @media screen and (max-width: 480px) {
      .caption--align_center {
        font-size: 3rem; } }

.ryble {
  font-size: 1.75rem; }

.another-caption {
  font-family: Lifehack Medium;
  font-size: 4rem;
  color: #fff; }

.one__content {
  display: flex;
  align-items: center;
  flex: 1; }
  @media screen and (max-width: 768px) {
    .one__content {
      flex-direction: column;
      justify-content: center; } }

.one__content__img {
  background: url(/images/burger_main.png) center center no-repeat;
  width: 32rem;
  height: 26.5rem;
  background-size: contain; }
  @media screen and (max-width: 480px) {
    .one__content__img {
      width: 100%;
      height: 100%; } }

.one__content__caption {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .one__content__caption {
      text-align: center;
      padding-top: 0.6rem; } }
  @media screen and (max-width: 480px) {
    .one__content__caption {
      width: 100%; } }

.arrow-scroll {
  align-self: center;
  padding-bottom: 1.25rem; }
  .arrow-scroll img {
    width: 3.2rem; }

.arrow {
  width: 2rem;
  height: 2rem; }

@media screen and (max-width: 480px) {
  .fixed-nav-navigation {
    display: none; } }

.the-best {
  background: url(/images/background/second.jpg) center center no-repeat;
  background-size: cover; }

.the-best__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .the-best__content {
      flex-direction: column; } }

.the-best__content__item {
  margin-right: 3.65%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
    /*&:nth-child(1) {
        background-image: url(/images/meat.svg);
        background-repeat: no-repeat;
        background-position: top center;
    }

    &:nth-child(2) {
        background-image: url(/images/hand.svg);
        background-repeat: no-repeat;
        background-position: top center;
    }

    &:nth-child(3) {
        background-image: url(/images/natural.svg);
        background-repeat: no-repeat;
        background-position: top center;
    }*/ }
  @media screen and (max-width: 480px) {
    .the-best__content__item {
      display: flex;
      flex-direction: row; } }

.the-best-img {
  display: flex;
  justify-content: center; }
  .the-best-img_svg {
    width: 6rem;
    height: 6rem;
    padding-bottom: 15px; }
  @media screen and (max-width: 480px) {
    .the-best-img {
      margin-right: 30px; } }

.the-best__title {
  text-align: center;
  font-family: Lifehack Medium; }
  @media screen and (max-width: 480px) {
    .the-best__title {
      text-align: left;
      padding-top: 20px; } }

.the-best__text {
  text-align: center;
  font-family: Ubuntu-Light; }
  @media screen and (max-width: 480px) {
    .the-best__text {
      text-align: left; } }

.list-review {
  display: flex;
  height: 100%;
  flex-wrap: wrap; }

.review-item {
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  filter: grayscale(100%); }
  .review-item:hover .reviev-text-hover {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .review-item {
      width: 50%;
      height: 25%; } }

.reviev-text-hover {
  color: #fff;
  font-family: Ubuntu-Light;
  position: absolute;
  background: rgba(69, 69, 69, 0.7);
  opacity: 0;
  transition: opacity .3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .reviev-text-hover {
      align-items: center; } }
  @media screen and (max-width: 768px) {
    .reviev-text-hover {
      text-align: center;
      align-items: center; } }
  .reviev-text-hover span {
    font-weight: bold;
    padding: 1rem;
    line-height: 1; }
    @media screen and (max-width: 480px) {
      .reviev-text-hover span {
        font-family: Gagalin-Regular;
        font-size: 1.5rem; } }
    @media screen and (max-width: 768px) {
      .reviev-text-hover span {
        padding: 0.6rem; } }

.review-text p {
  padding: 1.56rem; }
  @media screen and (max-width: 480px) {
    .review-text p {
      display: none; } }
  @media screen and (max-width: 768px) {
    .review-text p {
      padding: 0.7rem;
      font-size: 12px; } }

.form-btn {
  margin-top: 0.6rem;
  display: flex;
  align-items: center; }
  .form-btn a {
    color: #fff;
    text-decoration: none;
    font-family: Ubuntu-Light;
    margin-left: 20; }

.btn-review {
  margin-left: 1.56rem;
  width: 8rem; }
  .btn-review:hover {
    background-color: #1f2122; }
  @media screen and (max-width: 480px) {
    .btn-review {
      margin-left: 0; } }
  @media screen and (max-width: 768px) {
    .btn-review {
      margin-left: 0; } }

.order {
  background: url("/images/background/bg_order.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column; }

.form__elem {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .form__elem {
      flex-direction: column;
      align-items: center; } }

.form__content {
  width: 47%;
  padding: 0.6rem; }
  @media screen and (max-width: 768px) {
    .form__content {
      width: 80%; } }

.form__content__comm {
  width: 47%;
  padding: 0.6rem; }
  @media screen and (max-width: 768px) {
    .form__content__comm {
      width: 80%; } }

.form__content__comm input.form__input {
  height: 7rem;
  min-height: 7rem; }

.checkbox {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  font-family: Ubuntu-Light;
  margin-top: 0.6rem; }

.checkbox-margin {
  margin-right: 1.8rem; }

.form__block-title {
  color: #fff;
  font-family: Ubuntu-Light;
  padding-bottom: 0.5rem; }

.form__input {
  border: none;
  border-radius: 0.3rem;
  padding: 0.3rem;
  width: 100%; }

.form__row {
  display: flex;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 480px) {
    .form__row {
      margin-bottom: 1rem; } }

.form__block {
  flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

.btn-clear {
  background-color: transparent;
  text-decoration: underline;
  text-transform: capitalize;
  cursor: pointer; }

.team {
  background: url("/images/background/bg_team.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.team-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .team-container {
      width: 100%; } }

.team-profile {
  margin: 0 auto;
  max-width: 25.75rem; }

.team-acco {
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .team-acco {
      align-items: center; } }

.team-acco__trigger {
  color: #fff;
  display: flex;
  align-items: center;
  font-family: Gagalin-Regular;
  text-decoration: none; }
  .team-acco__trigger:before {
    content: "";
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-top-color: #f9a644;
    border-bottom-width: 0px;
    margin-right: 0.6rem; }

li.team-acco__item {
  padding-top: 2.5rem; }
  @media screen and (max-width: 768px) {
    li.team-acco__item {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.team-acco__content {
  display: flex;
  padding: 1.25rem; }

.team-acco__pic {
  float: left; }
  .team-acco__pic-img {
    border-radius: 50%; }

.team-acco__text {
  color: #fff;
  padding: 1.25rem;
  margin-left: 7.5rem; }
  .team-acco__text-title {
    font-family: Ubuntu-Medium;
    padding-bottom: 0.6rem; }
  .team-acco__text-content {
    font-family: Ubuntu-Light; }

.team-acco__content {
  display: none; }

.team-acco__item_active .team-acco__trigger {
  color: #f9a644; }
  .team-acco__item_active .team-acco__trigger:before {
    transform: rotate(-180deg); }
.team-acco__item_active .team-acco__content {
  display: block;
  padding: 1.25rem; }
  @media screen and (max-width: 768px) {
    .team-acco__item_active .team-acco__content {
      align-items: center;
      display: flex;
      flex-direction: column; } }

.menu {
  background: url(/images/background/menu_background.jpg) center center no-repeat;
  background-size: cover;
  position: relative; }

.caption--position_top {
  position: relative;
  top: 10%;
  left: 10%; }
  @media screen and (max-width: 480px) {
    .caption--position_top {
      text-align: left;
      font-size: 3.25rem; } }

.menu-list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex; }

.menu-list_trigger {
  width: 6.25rem;
  display: block;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative; }

.menu-list_trigger-text {
  font-size: 3rem;
  color: #fff;
  font-family: Gagalin-Regular;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  padding-left: 3rem; }
  @media screen and (max-width: 400px) {
    .menu-list_trigger-text {
      font-size: 2rem;
      left: 20%; } }

.menu-list_item {
  height: 100%; }
  .menu-list_item.active .menu-list_trigger-text {
    color: #f9a644; }
  @media screen and (max-width: 400px) {
    .menu-list_item {
      width: 3rem; } }

.menu-list_content {
  height: 100%;
  float: left;
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  overflow: hidden; }

.menu-list_text {
  font-family: Ubuntu-Light;
  color: #fff;
  padding: 3.75rem 1.8rem;
  width: 100%;
  line-height: 1.8;
  display: none; }

.contact {
  background: url("/images/background/map.jpg") center center no-repeat;
  background-size: cover; }

.footer {
  background: url("/images/background/bg_footer.jpg") center bottom no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.6rem 0;
  height: 3.75rem; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 6rem; } }

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__container {
      flex-direction: column;
      align-items: center; } }

.footer__item {
  width: 50%; }
  @media screen and (max-width: 480px) {
    .footer__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 15px; } }

.footer__address {
  color: #ffffff;
  font-size: 0.8rem;
  font-family: Ubuntu-Light;
  padding-bottom: 0.6rem; }
  @media screen and (max-width: 480px) {
    .footer__address {
      text-align: center; } }

.footer__phone {
  color: #e35028;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: Ubuntu-Medium; }
  .footer__phone:before {
    content: url(/images/icons/phone-icon.png);
    padding-right: 10px; }

.socials__item {
  padding-right: 15px; }
  @media screen and (max-width: 480px) {
    .socials__item {
      justify-content: center; } }

.footer__item_right {
  display: flex;
  justify-content: flex-end;
  padding-top: 1%; }
  @media screen and (max-width: 480px) {
    .footer__item_right {
      justify-content: center; } }

.socials {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }

.socials__link-icon {
  fill: #fff;
  opacity: 0.3; }
  .socials__link-icon:hover {
    opacity: 1; }

.bg-slider {
  background: linear-gradient(to bottom, #ffa73d 15%, #ff7c00 48%, #ff7c00 26%, #ff7f04 4%, #ffb76b 100%);
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.slider-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .slider-content__left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 50%; }
    @media screen and (max-width: 480px) {
      .slider-content__left {
        width: 100%;
        height: 15rem;
        flex-direction: row;
        justify-content: center; } }
    @media screen and (max-width: 400px) {
      .slider-content__left {
        height: 10rem; } }
  .slider-content__right {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px; }
    .slider-content__right__text-content {
      color: white;
      font-family: Ubuntu-Light;
      line-height: 1.7; }
      @media screen and (max-width: 480px) {
        .slider-content__right__text-content {
          text-align: center; } }
    .slider-content__right__currency-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      @media screen and (max-width: 480px) {
        .slider-content__right__currency-content {
          text-align: center; } }
    @media screen and (max-width: 480px) {
      .slider-content__right {
        width: 100%;
        margin: 0; } }
  .slider-content__title {
    text-align: center;
    font-family: Gagalin-Regular;
    font-size: 1.3rem;
    color: #fff; }
    .slider-content__title__kkal-title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 50px;
      font-size: 28px; }
      @media screen and (max-width: 480px) {
        .slider-content__title__kkal-title {
          padding-top: 30px;
          font-size: 18px; } }
    .slider-content__title__kkal-title:after {
      content: "ккал";
      padding-top: 20px;
      display: block; }
      @media screen and (max-width: 480px) {
        .slider-content__title__kkal-title:after {
          padding-top: 10px; } }
  .slider-content__into {
    position: relative;
    opacity: .5;
    width: 5rem;
    height: 5rem;
    background-color: #e45028;
    padding: 10px; }
    .slider-content__into:hover {
      opacity: 10; }
  .slider-content__kkal {
    position: relative;
    opacity: .5;
    width: 6rem;
    height: 6rem;
    padding: 10px;
    min-width: 4rem; }

.burgers_img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto; }
  .burgers_img img {
    width: 100%; }
  @media screen and (max-width: 480px) {
    .burgers_img {
      align-self: flex-end; } }

.burger-container {
  max-width: 940px;
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 480px) {
    .burger-container {
      flex-direction: column; } }

.slider-arrow__left {
  justify-content: flex-end;
  display: flex;
  align-items: center; }
.slider-arrow__right {
  justify-content: flex-start;
  display: flex;
  align-items: center; }

.arrow_prev {
  background: url(/images/icons/prew.svg);
  width: 2rem;
  height: 3rem;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 10px; }

.arrow_next {
  background: url(/images/icons/next.svg);
  width: 2rem;
  height: 3rem;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 10px; }

.mob-menu {
  display: flex;
  flex-direction: column;
  background-color: #2f3234;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none; }

.header-mobile {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.close-button {
  cursor: pointer; }

.nav-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .nav-mobile__list {
    text-align: center; }
  .nav-mobile__item {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .nav-mobile__item:after {
      content: "";
      width: 5px;
      height: 5px;
      background-color: white;
      display: block;
      border-radius: 50%; }
  .nav-mobile__link {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-family: Ubuntu-Medium;
    text-transform: uppercase;
    text-align: center;
    padding: 10px; }
  @media screen and (max-width: 480px) {
    .nav-mobile {
      justify-content: flex-start; } }
  @media screen and (max-width: 768px) {
    .nav-mobile {
      justify-content: flex-start; } }

/*# sourceMappingURL=common.css.map */
