
html {
    font-size: 16px;
}

html, body {
    height: 100%;

   @include tablets {
       font-size: 0.9rem;
   }

   @include phones {
    font-size: 0.875rem;
    }
}

body {
    font-size: 1rem;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    color: #000000;
}

.container {
    margin: 0 auto;
    width: 95%;
    max-width: 58.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

.section {
    height: 100vh;
    min-height: 40.625rem;

    @include phones {
        min-height: 40.625rem;
    }
}

input[type="button"] {
    border: none;
    cursor: pointer;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    background-color: transparent;
}

button {
    border: none;
}

.fixed-nav-navigation {
    position: fixed;
    right: 0;
    bottom: 30%;
    padding: 0 0.6rem;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

li.fixed-nav-item:before {
    content: ""; 
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background-color: #fff; 
    display: block;
    margin: 0.9rem;
}