
/*variables*/
$font_one: Lifehack Medium;
/*end variables*/

html {height:100%;
}
p {
    font-family: "Ubuntu-Light";
}
.container {
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    height: 100vh;
}
.flex-container-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.header-menu:nth-child(2) {
    margin-left: auto;
}
.header {
    display: flex;
    padding: 17px 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
    min-width: 768px;
}
nav.menu {    
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.menu ul {
    display: flex;
    margin: 0; 
    padding-left: 0;
    list-style: none; 
}
.menu a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    margin-left: 40px;

    &:hover {
        color: #e45028;
    }
}

.btn {
    line-height: 58px;
    background-color: #e45028;
    border: 2px solid #e45028;
    text-align: center;
    min-width: 155px;
    color: #fff;
    text-transform: uppercase;
    height: 60px;
    text-decoration: none;
    font-family: "Ubuntu-Medium"; 
    font-size: 13pt;
    border-radius: 10px;
    padding: 13px;
}
.btn_header {
    margin-left: 30px;
}

li.menu_item {
    padding: 15px;
    font-size: 18px;
    color: #ffffff;
    font-family: "Ubuntu-Medium";
    text-transform: uppercase;

    &::after {
        content: ""; 
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #fff; 
        position: absolute;
        /*top: 50%;*/
        transform: translateY(-130%);
    }
}

.brand {
    justify-content: flex-start;
    
}

/*section css*/

.section-one {
    height: 100vh;
    background: url(/images/background.jpg) no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: cover;
}
.section-two {
    height: 100vh;
    background: url(/images/second.jpg) no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

/*end section css*/

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    bottom: 100px;
    left: 0;
    right: 0;
    z-index: 2;
}
.main__text {
    color: #fff;
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 1.154;
}
.caption_another {
    color: #2f3234;
    display: block;
    margin-top: 200px;
}
.main-content__img {
    width: 60%;
    padding-right: 20px;
 
    img {
        width: 100%;
    }
}
.main-content__caption {
    width: 40%;
}
.another-caption {
    font-size: 65px;
    color: #fff;
    font-family: "Lifehack Medium";
    
}
.caption {
    font-size: 72px;
    color: #f9b43b;
    font-family: "Gagalin-Regular";
    text-transform: uppercase;
}
.center-content {
    display: flex;
    justify-content: space-evenly;
}
.center-content__best {
    padding: 40px;
    display: block;
    width: 20%;
    text-align: center; 
    
    h1 {
        font-size: 14,12pt;
        font-family: $font_one;
    }

    img {
        width: 150px;
        padding: 10px;
    }
    
}