$main_font: Ubuntu-Light;

.order {
    background: url('/images/background/bg_order.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form__elem {
    display: flex;
    flex-wrap: wrap;
}

.form__content {
    width: 47%;
    padding: 0.6rem;
}

.form__content__comm {
    width: 47%;
    padding: 0.6rem;
}

.form__content__comm input.form__input {
    height: 15%;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
    color: #fff;
    font-family: $main_font;
    margin-top: 0.6rem;
}

.checkbox-margin {
    margin-right: 1.8rem;
}

.form__block-title {
    color: #fff;
    font-family: $main_font;
    padding-bottom: 0.5rem;
}
  
.form__input {
    border: none;
    border-radius: 0.3rem;
    padding: 0.3rem;
    width: 100%;
}
  
.form__row {
    display: flex;
    margin-bottom: 1.25rem;
}
  
.form__block {
    flex: 1;
    margin-right: 1.25rem;
    
    &:last-child {
      margin-right: 0;
    }
}
