$caption_font: Gagalin-Regular;
$menu_font: Ubuntu-Medium;
$main_font: Ubuntu-Light;

.team {
    background: url('/images/background/bg_team.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .team-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
  }

  .team-profile {
    margin: 0 auto;
    max-width: 25.75rem;
}
  
  .team-acco__trigger {
    color: #fff;
    display: flex;
    align-items: center;
    font-family: $caption_font;
    text-decoration: none;
  
    &:before {
      content: "";
      height: 0;
      width: 0;
      border: 9px solid transparent;
      border-top-color: $yellow;
      border-bottom-width: 0px;
      margin-right: 10px; 
    }
  }

  li.team-acco__item {
    padding-top: 40px;
}
  
  .team-acco__content {
    display: flex;
    padding: 20px;
  }

  .team-acco__pic {
    float: left;

    &-img {
      border-radius: 50%;
    }
  }
  
  .team-acco__text {
    color: #fff;
    padding: 20px;
    margin-left: 120px;

    &-title {
      font-family: $menu_font;
      padding-bottom: 10px;
    }

    &-content {
      font-family: $main_font;
    }
  }
  
  .team-acco__content {
    display: none;
  }
  
  .team-acco__item_active {
    .team-acco__trigger {
      color: $yellow;
  
      &:before {
        transform: rotate(-180deg);
      }
    }
  
    .team-acco__content {
      display: block;
      padding: 20px;
    }
  }