.list-review {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.review-item {
    width: 25%;
    height: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    filter: grayscale(100%); 

    &:hover {
        .reviev-text-hover {
          opacity: 1;
        }
      }

      @include tablets {
        width: 50%;
        height: 25%;
      }
} 



.reviev-text-hover {
    color: #fff;
    font-family: $main_font;
    position: absolute;
    background: rgba(#454545, .7);
    opacity: 0;
    transition: opacity .3s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include phones {
        align-items: center;
       }

    @include tablets {
        text-align: center;
        align-items: center;
    }

    span {
        font-weight: bold;
        padding: 1rem;
        line-height: 1;

        @include phones {
           font-family: $caption_font;
           font-size: 1.5rem;
        }
    }
}

.review-text p {
    padding: 1.56rem;

    @include phones {
       display: none;
      }
}

.form-btn {
    margin-top: 0.6rem;
    display: flex;
    align-items: center;

    a {
        color: #fff;
        text-decoration: none;
        font-family: $main_font;
        margin-left: 20;
    }
}

.btn-review {
    margin-left: 1.56rem;
    width: 8rem;

    &:hover {
        background-color: #1f2122;
    }

    @include phones {
        margin-left: 0;
       }
}