$red: #e35028;

.main {
    background: url(/images/background.jpg) center center no-repeat;
    background-size: cover;
}

.container__main {
    justify-content: flex-start;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    display: flex;
}

.nav {
    margin-right: 20px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;

    &:first-child {
        &:before {
            display: none;
        }
    }

    &:before {
        content: ""; 
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #fff; 
        display: block;
        margin: 0 10px;

    }
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.btn {
    padding: 13px;
    color: #fff;
    background-color: $red;
    border-radius: 7px;
    text-decoration: none;
}