
.the-best {
    background: url(/images/background/second.jpg) center center no-repeat;
    background-size: cover;
}

.the-best__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include phones {
        flex-direction: column;
    }
}

.the-best__content__item {
    padding-top: 7.5rem;
    margin-right: 3.65%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    
    &:nth-child(1) {
        background-image: url(/images/meat.svg);
        background-repeat: no-repeat;
        background-position: top center;
    }

    &:nth-child(2) {
        background-image: url(/images/hand.svg);
        background-repeat: no-repeat;
        background-position: top center;
    }

    &:nth-child(3) {
        background-image: url(/images/natural.svg);
        background-repeat: no-repeat;
        background-position: top center;
    }
}

.the-best__img img {
    width: 40%;
    padding: 0rem 13rem 0rem 13rem;
}

.the-best__title {
    text-align: center;
    font-family: $another_caption_font;
}

.the-best__text {
    text-align: center;
    font-family: $main_font;
}