.bg-slider {
    background: linear-gradient(to bottom, #ffa73d 15%, #ff7c00 48%, #ff7c00 26%, #ff7f04 4%, #ffb76b 100%);
    background-size: cover;
    display: flex;
}

.slider-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__left {
        background-image: url(/images/bg_slider/black_burger.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 32rem;
        height: 30rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }

    &__right {
        display: flex;
        flex-direction: column;
        width: 32rem;
        margin: 20px;

        &__text-content {
            color: white;
            font-family: $main_font;
            line-height: 1.7;
        }

        &__currency-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__title {
        text-align: center;
        font-family: $caption_font;
        font-size: 1.3rem;
        color: #fff;

        &__kkal-title {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding-top: 40px;
        }

        &__kkal-title:after {
            content: "ккал";
            padding-top: 15px;
            display: block;
        }
    }

    &__into {
        position: relative;
        opacity: .5;
        width: 5rem;
        height: 5rem;
        background-color: #e45028;
        padding: 10px;

        &:hover {
            opacity: 10;
        }
	}

	&__kkal {
        position: relative;
        opacity: .5;
        width: 5rem;
        height: 5rem;
	}
}

.slider-arrow {
    display: flex;
    flex: 0 1 8%;
    align-items: center;
    justify-content: center;
}

.arrow_prev {
    background: url(/images/icons/prew.svg);
    width: 2rem;
    height: 3rem;
    background-repeat: no-repeat;
    cursor: pointer;
}

.arrow_next {
    background: url(/images/icons/next.svg);
    width: 2rem;
    height: 3rem;
    background-repeat: no-repeat;
    cursor: pointer;
}


